#MainMenu
{
	padding: 0 0 3em 0;
}

#MainMenu li
{
	border-color: #000000;
	border-left-style: solid;
	border-width: 1px;
	float: left;
	font-family: Verdana, sans-serif;
	font-size: 80%;
	font-weight: 700;
	height: 4em;
	list-style: none;
	padding-left: 0.5em;
	padding-right: 2em;
}

#MainMenu a
{
	color: #000000;
	font-weight: 400;
	text-decoration: none;
}

#MainMenu a:visited
{
	
}

#MainMenu a:hover
{
	text-decoration: underline;
}