<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=windows-1251">
	<title>Tabularium: личность в истории</title>
	<link href="css/basic.css" type="text/css" rel="stylesheet" />
	<link href="css/columns.css" type="text/css" rel="stylesheet" />
</head>
<body bgcolor="#000000" background="paper.jpg">
{$Breadcrumbs}
<div id="Workspace">
    <div id="Title">
        <a href="index.html"><img src="images/mummy.gif" alt="" align="left" /></a>
        <h1><a href="index.html">Личность в истории</a></h1>
        <h4>краткая энциклопедия</h4>
        <p>Проект &laquo;<strong>Tabularium: личность в истории</strong>&raquo; посвящен людям &mdash; современникам грандиозных исторических событий, носителям редких качеств или людям, взгляды которых опередили их время.</p>
    </div>
    {$MainMenu}
{$Content}
</div>
</body>