<?xml version="1.0" encoding="windows-1251"?>
<attributes>
    <!--<template>{$Templates}\Literature\Book.template</template>-->
    <attribute>
        <name>{$Title}</name>
        <value>Инки</value>
    </attribute>
</attributes>