<?xml version="1.0" encoding="windows-1251"?>
<attributes>
    <template>{$Templates}\Literature\Book.template</template>
    <attribute>
        <name>{$Name}</name>
        <value>Инки</value>
    </attribute>
    <attribute>
        <name>{$BookName}</name>
        <value>{$BasePath}\Literature\Books\</value>
        <filter>*.thtml</filter>
    </attribute>
</attributes>